/* 
COLORS

Light green: #7aa329

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container-fluid, .row, .row > div {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-image:
  linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.75),
     rgba(0, 0, 0, 0.75)),
      url('../images/unsplash-hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.7;
}

.heading-primary {
  color: #fff;
}

.heading-primary-span {
  display: block;
  font-size: 5rem;
}

.light-green-span {
  color: #7aa329;
}

.about-section {
  position: relative;
  margin: 3rem 0;
}

.about-text-box {
  text-align: center;
}

.about-header {
  font-size: 4rem;
  /* position: absolute; */
  /* top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0.8rem 0;
}

.bottom-border-span {
  border-bottom: #000 solid;
}

.headshot {
  border-radius: 100%;
}

.about-paragraph {
  font-size: 1.8rem;
  padding-top: 6rem;
}

.projects {
  background-color: #b1b1b1;
  text-align: center;
  width: 100%;
}

.projects-header {
  font-size: 4rem;
}

.projects-paragraph {
  font-size: 1.8rem;
}