/* 
COLORS

Light green: #7aa329

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: inherit;
}

.container-fluid, .row, .row > div {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-image:
  linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.75),
     rgba(0, 0, 0, 0.75)),
      url('../images/unsplash-hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.30);
  height: 10rem;
  transition: all 0.1s linear;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.80);
  transition: background-color 0.1s linear;
}

.sticky .logo-white {
  height: 8rem;
  transition: height 0.1s linear;
}

.sticky li {
  font-size: 1.6rem;
  transition: font-size 0.1s linear;
}

.stick .menu {
  height: 5rem;
  transition: height 0.1s linear;
}

.logo-white, .logo-black {
  height: 9rem;
  padding: 1.6rem;
  transition: all 0.1s linear;
}

.logo-black {
  display: none;
}

.nav-list {
  list-style: none;
}


.nav-item {
  color: #fff;
  font-size: 2rem;
  transition: all 0.1s linear;
}

/* .nav-item a {
  display: block;
  text-align: center;
  padding: 1.6rem;
} */

.nav-item:hover {
  transition: color 0.1s linear;
  color: #7aa329
}

.menu {
  height: 6rem;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.7;
}

.heading-primary {
  color: #fff;
}

.heading-primary-span {
  display: block;
  font-size: 5rem;
}

.heading-name {
  animation: moveInLeft 1s ease-out;
}

.heading-greeting {
  animation: moveInRight 1s ease-out;
}

.light-green-span {
  color: #7aa329;
}

.about-section {
  padding: 2rem 0;
}

.about-text-box {
  text-align: center;
}

.about-header {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.bottom-border-span {
  border-bottom: #7aa329 solid;
  padding-bottom: 1rem;
}

.headshot {
  border-radius: 100%;
}

.about-paragraph {
  font-size: 1.8rem;
  /* padding-top: 1rem; */
  padding: 2rem 3.6rem 0 3.6rem;
}

.projects {
  background-color: #efefef;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects-header {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.projects-paragraph {
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.projects-list {
  margin-bottom: 1rem;
}

.contact-me {
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact-header {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.contact-text-box {
  margin-bottom: 6rem;
}

.contact-paragraph {
  font-size: 1.8rem;
}

.contact-item {
  font-size: 1.8rem;
}

.footer {
  text-align: center;
  background-color: #333;
  margin-top: 2rem;
}

.footer-paragraph {
  margin-bottom: 0;
  font-size: 1.4rem;
  padding: 2rem 0;
  color: #ddd;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}